@charset "UTF-8";
/*기본값*/
body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    max-height: 100%;
    height: 100%;
    background-color: #f6f2f1;
    cursor: url(/resources/img/cursor-pointer.png), auto;
    outline: 0;
}
input {
	outline: 0;
}

button{
	outline: 0;
}
a {
    text-decoration: none;
    cursor: url(/resources/img/cursor-hand.png), auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.frame {
    width: 1280px;
    height: inherit;
    margin: 0 auto;
}
table {border-collapse:collapse; border-spacing:0;}
/**************헤더****************/
header {
    margin-top: 66px;
    width: 100%;
    height: 110px;
}

header>.frame {
    border: solid 5px #000000;
}

header img {
    display: block;
    margin: 44px 0 0 44px;
    float: left;
}
.navbar a {
    color: #1b1b1b;
}
.nav-menu {
    text-align: center;
    width: auto;
    font-family: 'Anton', sans-serif;
    line-height: 110px;
    float: left;
    font-size: 22px;
    letter-spacing: 1.1px;
    color: #1b1b1b;
    padding: 0 20px 0 20px;
    height: 105px;
}
.nav-menu:hover {
    font-size: 0;
}
.first-nav {
    margin-left: 200px;
    width: 102px;
}
.first-nav:hover:before {
    font-family: 'Noto Sans KR', sans-serif;
    content: ' 짐스토리';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
    border: 0;
    height: 115px;
}
.second-nav {
    width: 80px;
}
.second-nav:hover:before {
    font-family: 'Noto Sans KR', sans-serif;
    content: ' 짐팟';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
}
.third-nav {
    width: 120px;
}
.third-nav:hover:before {
    font-family: 'Noto Sans KR', sans-serif;
    content: ' 짐마켓';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
}
.fourth-nav {
    width: 98px;
}
.fourth-nav:hover:before {
    font-family: 'Noto Sans KR', sans-serif;
    content: ' 근딜';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
}
.login-box li {
    text-align: center;
    width: 100px;
    height: 100%;
    font-family: 'Anton', sans-serif;
    line-height: 110px;
    float: right;
    font-size: 22px;
    letter-spacing: 1.1px;
    color: #1b1b1b;
    border-left: solid 5px #000000; 
}
.login-box li:hover {
    background-color: #000;
    color: #fff;
}

/**************헤더끝****************/
/*****************메인시작************************/
main {
    width: 100%;
}
main>.frame {
	margin-top: 5px;
    border: solid 5px #000000;
}

.topbox {
    display: block;
    width: 676px;
    height: inherit;
    margin: 140px auto 100px;
}
#btnbox {
    margin-bottom: 50px;
}
#btnbox button{
    display: inline-block;
    background-color: #000;
    border-radius: 30px;
    width: 140px;
    height: 50px;
    font-family:  'Anton', sans-serif;
    border: solid 3px #000;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.1px;
    cursor: url(/resources/img/cursor-hand.png), auto;
}
#btnbox button:hover {
    background-color: #fff;
    color: #000;
}
#btnbox button.pick {
	font-weight: 600;
    background-color: #fff;
    color: #000;
}
#btnbox a:not(:last-child) {
    margin-right: 35px;
}

/*********************검색***********************  */
#srchbox {
    width: 574px;
    margin: 0 auto;
}

.selectbox {
	width: 145px;
	height : 48px;
    margin: 2px 10px 0 0;
    padding: 7px 0px 7px 10px;
    border-radius: 40px;
    border: solid 3px #000;
    font-size: 16px;
	outline: 0;
}
#srchbox input {
    width: 300px;
    line-height: 28px;
    margin: 0 -60px 0 0;
    padding: 7px 35px 7px 20px;
    border-radius: 40px;
    border: solid 3px #000;
    font-size: 16px;
}

#srchbox button {
    position: relative;
    line-height: 40px;
    color: white;
    background: #000;
    border: solid 3px #000;
    width: 108px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    outline: 0;
}
/* +++++++++++++++++++++표++++++++++++++++++++++++++ */
#conbox {
	width:100%;
    height: inherit;
    border-bottom: solid 5px #000;
}

#conbox table {
    margin: 58px auto 0;
    width: 100x;
    border: solid 3px #000;
    padding: 0;
}
#conbox table tr {
    display: block;
    width:1080px;
    height: 76px;
    text-align: center;
    line-height: 76px;
    margin: 0;
}

#conbox .tableheader {
    background-color: #000;
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 22px;
    font-weight: 0;
    letter-spacing: 1.3px;
    text-align:center;
}

tr td:nth-child(1) {
    width: 110px;
}
 tr td:nth-child(2){
    width: 110px;
}
tr td:nth-child(3){
    width: 200px;
}
 tr td:nth-child(4) {
    width: 320px;
}
tr td:nth-child(5) {
    width: 110px;
}
tr td:nth-child(6) {
    width: 110px;
}
tr td:nth-child(7) {
    width: 110px;
}
td button {
	width: 80px;
	height:40px;
	background-color: #000;
	color:#fff;
	border-radius:50px;
	border: solid 3px #000;
	margin: 0 auto;
	font-size:16px;
	cursor: url(/resources/img/cursor-hand.png), auto;
}
td button:hover {
	background-color: #fff;
	color:#000;
}
table>tr:not(:last-child) {
    border-bottom: solid 3px #000;
}
table tr:hover {
    background-color: #fff;
}

tr td a{
    color: #000;
    font-size: 18px;
    cursor: url(/resources/img/cursor-hand.png), auto;
} 

.confirmtd {
	width:100px;
	height:auto;
	margin:0 auto;
}
.registerbtn {
	width:100%;
	height:100px;
	float:right;
}
#registerbtn {
	float:right;
	margin-right:100px;
	margin-top:30px;
	width:120px;
	height:40px;
	background-color:#000;
	border:solid 3px #000;
	border-radius:50px;
	color:#fff;
	font-size:16px;
	cursor: url(/resources/img/cursor-hand.png), auto;
	font-weight:500;
}
#registerbtn:hover {
	background-color:#fff;
	color:#000;
}


.paging {
	margin-top: 50px;
    padding: 0 19px 100px;
    height: 50px;
    text-align: center;
}

.paging .hide {
    display:block;
    height:0;
    width:0;
    font-size:0;
    line-height:0;
    margin:0;
    padding:0;
    overflow:hidden;
}

.paging a{
    display:inline-block;
    width:33px;
    height:33px;
    padding-top:2px;
    vertical-align:middle;
    font-size: 18px;
    text-align: center;
    line-height: 33px;
    color: #000;
    margin:0 3px;
}

.paging a:hover{
    text-decoration:underline;
}

.paging .btn_arr{
    text-decoration:none;
}

.prev{
    background: url(../img/nav-left.png) center no-repeat;
}
.next{
    background: url(../img/nav-right.png) center no-repeat;
}

.paging .on{
    padding-top:1px;
    height:33px;
    color:#fff;
    font-weight:bold;
    background:#000;
}

.paging .on:hover{
    text-decoration:none;
}
.btn_arr .prev {
    background: url(../img/nav-left.png) no-repeat;
    width: 100%;
    height: 100%;
}
/*****************메인끝************************/
/******************푸터********************/
footer {
    width: 100%;
    height: 300px;
}
footer>.frame {
    border: solid 5px #000000;
    background-color: #000;
}
footer img {
    margin-top: 58px;
    margin-left: 44px;
    margin-bottom: 20px;
}

.footer-contents {
    width: 1182px;
    margin-left: 44px;
    padding-bottom: 28px;
    border-bottom: solid 1px #888;
}

footer p {
    color: #888;
    font-size: 14px;
    letter-spacing: -0.35px;
    line-height: 15px;
}
footer .stick:after {
    content: "";
    top: 1px;
    left: 0;
    width: 1px;
    height: 12px;
    background: #444;
    position: relative;
    display: inline-block;
    margin: 0 6px;
}

.copyright {
    font-family: 'Anton', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75;
    color: #fff;
    letter-spacing: 0.2em;
    margin-left: 44px;
}
.copyright span {
    font-size: 20px;
    line-height: 0;
    vertical-align: middle;
    margin-top: 2px;
    display: inline-block;
}
