@charset "UTF-8";
/*기본값*/
body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    max-height: 100%;
    height: 100%;
    background-color: #f6f2f1;
    cursor: url(../img/cursor-pointer.png), auto;
}
a {
    text-decoration: none;
    cursor: url(../img/cursor-hand.png), auto;
    
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.frame {
    width: 1280px;
    height: inherit;
    margin: 0 auto;
}

/**************헤더****************/
header {
    margin-top: 66px;
    width: 100%;
    height: 110px;
}

header>.frame {
    border: solid 5px #000000;
}

header img {
    display: block;
    margin: 44px 0 0 44px;
    float: left;
}
.navbar a {
    color: #1b1b1b;
}
.nav-menu {
    text-align: center;
    width: auto;
    font-family: 'Anton', sans-serif;
    line-height: 110px;
    float: left;
    font-size: 22px;
    letter-spacing: 1.1px;
    color: #1b1b1b;
    padding: 0 20px 0 20px;
    height: 105px;
}
.nav-menu:hover {
    font-size: 0;
}
.first-nav {
    margin-left: 200px;
    width: 102px;
}
.first-nav:hover:before {
    font-family: 'Noto Sans KR', sans-serif;
    content: ' 짐스토리';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
    border: 0;
    height: 115px;
}
.second-nav {
    width: 80px;
}
.second-nav:hover:before {
    font-family: 'Noto Sans KR', sans-serif;
    content: ' 짐팟';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
}
.third-nav {
    width: 120px;
}
.third-nav:hover:before {
    font-family: 'Noto Sans KR', sans-serif;
    content: ' 짐마켓';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
}
.fourth-nav {
    width: 98px;
}
.fourth-nav:hover:before {
    font-family: 'Noto Sans KR', sans-serif;
    content: ' 근딜';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
}
.login-box li {
    text-align: center;
    width: 100px;
    height: 100%;
    font-family: 'Anton', sans-serif;
    line-height: 110px;
    float: right;
    font-size: 22px;
    letter-spacing: 1.1px;
    color: #1b1b1b;
    border-left: solid 5px #000000; 
}
.login-box li:hover {
    background-color: #000;
    color: #fff;
}

/**************헤더끝****************/
/*****************메인시작************************/
main {
    width: 100%;
}
main>.frame {
    border-left: solid 5px #000000;
    border-right: solid 5px #000000;
}

/****************배너********************/
.banner {
    width: 100%;
    height: auto;
    border-top: solid 5px #000000;
    border-bottom: solid 5px #000000;
}

main>.frame>p {
    position: relative;
    top: -220px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
main>.frame>p>span {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    letter-spacing: 2.5px;
}
/*****************배너끝*************************/

.contents-frame {
    width: 1080px;
    height: 1000px;
    margin: 0 auto;
}
.contents {
    width: 336px;
    height: 430px;
    background-color: #fff;
    float: left;
    margin-bottom: 35px;
}
.contents:not(:nth-child(3n+1)) {
    margin-left: 35px;
}
.contents>a {
    width: 100%;
    height: 100%;
}
.img-box {
    display: block;
    width: 310px;
    height: 216px;
    margin: 13px auto 0;
    overflow: hidden;
}
.img-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.content-text {
    width: 310px;
    height: 120px;
    margin: 20px auto 0;
}
.title-area {
    position: relative;
    height: 30px;
}
.title-area span {
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    bottom: 0;
    color: #000;
}
.title-area p {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    color: #a90000;
    font-size: 16px;
    font-weight: 500;
}
.sale-time {
    margin-top: 26px;
}
.sale-time p {
    line-height: 15px;
    color: #9b9b9b;
}
.content-text button {
    width: 96px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    border: 0;
    float: right;
    cursor: url(../img/cursor-hand.png), auto;
}
/*******************페이징**********************/
.paging .hide {
    display:block;
    height:0;
    width:0;
    font-size:0;
    line-height:0;
    margin:0;
    padding:0;
    overflow:hidden;
}

.paging{
    padding:0 19px 100px;
    text-align:center;
}

.paging a{
    display:inline-block;
    width:33px;
    height:33px;
    padding-top:2px;
    vertical-align:middle;
    font-size: 18px;
    text-align: center;
    line-height: 33px;
    color: #000;
    margin:0 3px;
}

.paging a:hover{
    text-decoration:underline;
}

.paging .btn_arr{
    text-decoration:none;
}

.prev{
    background: url(../img/nav-left.png) center no-repeat;
}
.next{
    background: url(../img/nav-right.png) center no-repeat;
}

.paging .on{
    padding-top:1px;
    height:33px;
    color:#fff;
    font-weight:bold;
    background:#000;
}

.paging .on:hover{
    text-decoration:none;
}
.btn_arr .prev {
    background: url(../img/nav-left.png) no-repeat;
    width: 100%;
    height: 100%;
}


/*****************메인끝************************/
/******************푸터********************/
footer {
    width: 100%;
    height: 300px;
}
footer>.frame {
    border: solid 5px #000000;
    background-color: #000;
}
footer img {
    margin-top: 58px;
    margin-left: 44px;
    margin-bottom: 20px;
}

.footer-contents {
    width: 1182px;
    margin-left: 44px;
    padding-bottom: 28px;
    border-bottom: solid 1px #888;
}

footer p {
    color: #888;
    font-size: 14px;
    letter-spacing: -0.35px;
    line-height: 15px;
}
footer .stick:after {
    content: "";
    top: 1px;
    left: 0;
    width: 1px;
    height: 12px;
    background: #444;
    position: relative;
    display: inline-block;
    margin: 0 6px;
}

.copyright {
    font-family: 'Anton', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75;
    color: #fff;
    letter-spacing: 0.2em;
    margin-left: 44px;
}
.copyright span {
    font-size: 20px;
    line-height: 0;
    vertical-align: middle;
    margin-top: 2px;
    display: inline-block;
}
