/*기본값*/
body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    max-height: 100%;
    height: 100%;
    background-color: #F6F2F1;
    cursor: url(/resources/img/cursor-pointer.png), auto;
}
a {
    text-decoration: none;
    cursor: url(/resources/img/cursor-hand.png), auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.frame {
    width: 1280px;
    height: inherit;
    margin: auto;
}
/******************************/
header {
    margin-top: 66px;
    width: 1275px;
    height: 110px;
    border: solid 5px #000000;
}
header img {
    display: block;
    margin: 44px 0 0 44px;
    float: left;
}

.navbar a {
    color: #1B1B1B;
}
.nav-menu {
    text-align: center;
    width: auto;
    height: 105px;
    font-family: 'Anton', sans-serif;
    line-height: 110px;
    float: left;
    font-size: 20px;
    letter-spacing: 1.1px;
    color: #1B1B1B;
    padding: 0 20px 0 20px;
}
.nav-menu:hover {
    font-size: 0;
}
.first-nav {
    margin-left: 200px;
    width: 102px;
}
.first-nav:hover:before {
    font-family: 'Noto Sans KR', sans-serif;
    content: ' 짐스토리';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
}
.second-nav {
    width: 80px;
}
.second-nav:hover:before {
    font-family: 'Noto Sans KR', sans-serif;
    content: ' 짐팟';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
}
.third-nav {
    width: 120px;
}
.third-nav:hover:before {
    font-family: 'Noto Sans KR', sans-serif;
    content: ' 짐마켓';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
}
.fourth-nav {
    width: 98px;
    height: 105px;
}
.fourth-nav:hover::before {
    font-family: 'Noto Sans KR', sans-serif;
    content: ' 근딜';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
}
.login-box li {
    text-align: center;
    width: 100px;
    height: 115px;
    font-family: 'Anton', sans-serif;
    line-height: 110px;
    float: right;
    font-size: 22px;
    letter-spacing: 1.1px;
    color: #1B1B1B;
    border-left: solid 5px #000000;
}
.login-box li:hover {
    background-color: #000;
    color: #fff;
}

/*contents1*/

.contents1{
    width: 1275px;
    height: 305px;
    border: solid 5px #000000;
    border-bottom: none;
    border-top: none;
}
.contents-img{
    float: left;
    width: 1275px;
    height: 305px;
    position: relative;
    background-image: url(/resources/img/main-img.jpg);  
    

    background-size: cover;
}

#text1 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    font-weight: normal;
    padding-top: 108px;
    text-align: center;
    color: white;
}
#text2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    padding-top: 20px;
    color: white;
}

/*contents2*/
.contents2{
    width: 1275px;
    height: 815px;
    border: solid 5px #000000;
}

.contents2-1{
    width: 30%;
    float: left;
}

.search-box{
    padding-top: 25px;
    padding-left: 7px;
    
/*    white-space: nowrap;*/
/*    position: relative;*/
    
}
#search{
    width: 270px;
    height: 42px;
    border: 3px solid black;
    border-right: none;
    padding-left: 35px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
/*
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
*/
    
}
    .search-box .icon{
        height: 50px;
        position: absolute;
        color: black;
    }
    #btn {
        width: 60px;
        height: 50px;
        border: 3px solid black;
        border-left: none;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        background-color: white;
    }

    #search::-webkit-input-placeholder { 
    font-family: 'Noto Sans KR', sans-serif;
    /*overflow: visible;*/
    /*vertical-align: top;*/
    padding-left: 5px;
    padding-top: 2px;
    color: gainsboro;

    }



/**/


.list-left{
    float: left; 
}
#list-img{
    width: 150px;
    height: 115px; 
    margin: 20px 15px 20px 10px;
}

.list-right{
    float: inherit;
    padding: 20px 10px 20px 10px;
}

.list-kind{
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    color: #909090;
}
.list-name{
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}
.list-addr{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: #000000;
}
.list-hours{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: #000000;
}

.page-navi {
    width: 350px;
    height: 30px;
    margin: 15px 25px 10px 15px;
    text-align: center;  
}
    .page-navi li {
        display: inline-block;
        list-style-type: none;
    }

    .page-navi li a {
        font-size: 18px;
        font-weight: bold;
        color: #717171;
        padding: 1px 20px 0px 20px;
        text-decoration: none;
    }
    .page-navi li a:hover {
        color: #902F2F;
    }



.contents2-2{
    float: left;
    border-left: solid 5px #000000;
}
#map{   
    width: 887px;
    height: 815px;
}

/*푸터*/
footer {
    width: 1285px;
    height: 300px;
}
footer>.footer {
    border: solid 5px #000000;
    background-color: #000;
}
footer img {
    margin-top: 58px;
    margin-left: 44px;
    margin-bottom: 20px;
}
.footer-contents {
    width: 1182px;
    margin-left: 44px;
    padding-bottom: 28px;
    border-bottom: solid 1px #888;
}
footer p {
    color: #888;
    font-size: 14px;
    letter-spacing: -0.35px;
    line-height: 15px;
}
footer .stick:after {
    content: "";
    top: 1px;
    left: 0;
    width: 1px;
    height: 12px;
    background: #444;
    position: relative;
    display: inline-block;
    margin: 0 6px;
}
.copyright {
    font-family: 'Anton', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75;
    color: #fff;
    letter-spacing: 0.2em;
    margin-left: 44px;
}
.copyright span {
    font-size: 20px;
    line-height: 0;
    vertical-align: middle;
    margin-top: 2px;
    display: inline-block;
}