@charset "UTF-8";
/* 기본 값 + 네비바 */
body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    max-height: 100%;
    height: 100%;
    background-color: #F6F2F1;
    cursor: url(/resources/img/cursor-pointer.png), auto;
}
a {
    text-decoration: none;
    cursor: url(/resources/img/cursor-hand.png), auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.frame {
    width: 1280px;
    height: inherit;
    margin: 0 auto;
}

/******************************/
header {
    margin-top: 66px;
    width: 100%;
    height: 110px;
    position: relative;
}
header>.frame {
    border: solid 5px #000000;
}
header img {
    display: block;
    margin: 44px 0 0 44px;
    float: left;
}
.navbar a {
    color: #1B1B1B;
}
.nav-menu {
    text-align: center;
    width: auto;
    height: 105px;
    font-family: 'Anton', sans-serif;
    line-height: 110px;
    float: left;
    font-size: 22px;
    letter-spacing: 1.1px;
    color: #1B1B1B;
    padding: 0 20px 0 20px;
}
.nav-menu:hover {
    font-size: 0;
}
.first-nav {
    margin-left: 200px;
    width: 102px;
}
.first-nav:hover:after {
    font-family: 'Noto Sans KR', sans-serif;
    content: ' 짐스토리';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.second-nav {
    width: 80px;
}
.second-nav:hover:before {
    font-family: 'Noto Sans KR', sans-serif;
    content: ' 짐팟';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
}
.third-nav {
    width: 120px;
}
.third-nav:hover:before {
    font-family: 'Noto Sans KR', sans-serif;
    content: ' 짐마켓';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
}
.fourth-nav {
    width: 98px;
}
.fourth-nav:hover:before {
    font-family: 'Noto Sans KR', sans-serif;
    content: ' 근딜';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    width: 100%;
}
.login-box li {
    text-align: center;
    width: 100px;
    /* 수정하기 밑에 공간이 남음  */
    height: 115px;  
    font-family: 'Anton', sans-serif;
    line-height: 110px;
    float: right;
    font-size: 22px;
    letter-spacing: 1.1px;
    color: #1B1B1B;
    border-left: solid 5px #000000;
}
.login-box li:hover {
    background-color: #000;
    color: #fff;
}
/* 기본 값 + 네비바  끝 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/* main 시작  */
main {
    width: 100%;
}
main .frame {
    border-left: solid 5px black;
    border-right: solid 5px black;
}
#marketdetail {
    width: 1080px;
    height: auto;
    padding-top: 70px;
    padding-bottom: 200px;
    margin: 0 auto;
}
.titlewrapper {
    width: 100%;
    height: 160px;
    border-bottom: solid 4px black;
}
.category {
    color :#690000;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
}

.title {
    color :black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 38px;
}
.zzim {
    width: 50px;
    height: 100px;
    float: right;
    margin-top : 50px;
}

.zzim form {
	width:inherit;
	height:inherit;
}
.star {
    width : 50px;
    height: 50px;
    border : none;
    padding :0;
}
.star img {
	width : inherit;
    height: inherit;
}

#textzzim {
    display: block;
    color :black;
    font-family: 'Anton', sans-serif;
    font-size: 12px;
    width: 37px;
    height: 20px;
    margin: 0 auto;
}
.info {
    margin: 30px 0;
}
.name {
    color :#666666;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 16px;
    margin-right: 10px;
}

.date {
    color :#666666;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 16px;
}

.contents {
    width: inherit;
    margin: 20px auto;
    text-align: left;
}
.product-title {
    display: table;
    width: 500px;
}
.img-box {
    display: table-cell;
    vertical-align: top;
}
.main-pic {
    max-width: 500px;
    max-height: 500px;
}
.price {
    color :black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 50px;
}
.content {
    color :black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

/*  쪽지보내기 버튼@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
#sendmsgbtn {
    width: 400px;
    height: 35px;
    background-color: #000000;
    border-radius: 20px;
    color: #f6f2f1;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}
#sendmsgbtn:hover {
    background-color: #fff;
    color: #000000;
}
/******************푸터********************/
footer {
    width: 100%;
    height: 300px;
}
footer>.frame {
    border: solid 5px #000000;
    background-color: #000;
}
footer img {
    margin-top: 58px;
    margin-left: 44px;
    margin-bottom: 20px;
}
.footer-contents {
    width: 1182px;
    margin-left: 44px;
    padding-bottom: 28px;
    border-bottom: solid 1px #888;
}
footer p {
    color: #888;
    font-size: 14px;
    letter-spacing: -0.35px;
    line-height: 15px;
}
footer .stick:after {
    content: "";
    top: 1px;
    left: 0;
    width: 1px;
    height: 12px;
    background: #444;
    position: relative;
    display: inline-block;
    margin: 0 6px;
}
.copyright {
    font-family: 'Anton', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75;
    color: #fff;
    letter-spacing: 0.2em;
    margin-left: 44px;
}
.copyright span {
    font-size: 20px;
    line-height: 0;
    vertical-align: middle;
    margin-top: 2px;
    display: inline-block;
}